.profPic{
    display: flex;
    justify-content: center;
}
img{
    margin-top: 2%;
}
.mText{
    text-align: center;
}
#main{
    margin: auto;
    width: 80%;
}
.mTitle{
 padding: 2%;
 text-decoration: none;
 color: black;
}
.mTitle:hover {
    text-decoration: underline;
  }
#secHalf{
    display: flex;
    justify-content: center;
}
#slideshow{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#parent{
    background-image: linear-gradient(white, purple);
}